<div class="footer">
  <div class="address">
    <p>Address</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d704.354372437425!2d109.10164878318989!3d12.244737556966731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf44ac9177d56bbb!2zQ2FmZSBDaMawYSDEkOG6t3QgVMOqbg!5e0!3m2!1svi!2sus!4v1586303502194!5m2!1svi!2sus"
      width="inherit" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div class="contactus">
      Contact Us on <a href="https://www.facebook.com/cafechuadattendienkhanh" target="_blank"><i
          class="fa-3x fab fa-facebook"></i></a>
  </div>
</div>
