<div class="header" id="header">
	<div class="nav-bar">
		<ul>
			<li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#Home">Home</a></li>
			<li><i class="fas fa-coffee"></i><a href="#Menu">Menu</a></li>
			<li><i class="fas fa-address-card"></i><a href="#About">About</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Dropdown</a>
				<div class="dropdown-content">
					<a href="#link1">link 1</a>
					<a href="#link2">link 2</a>
					<a href="#link3">link 3</a>
				</div>
			</li>	
		</ul>
	</div>
	<div class="logo">
		<img src="/assets/logo.jpg" alt="icon here">
	</div>
</div>