/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #8cfffb; 
	color: white;
}

.appHeader { grid-area: header; }
.appMenu { grid-area: menu; }
.appMain { grid-area: main; }
.appRight { grid-area: right; }
.appFooter { grid-area: footer; }
.mainGrid{
	display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}